@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

/* Start Header and navbar */

.header{
  position: relative;
}

.header img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.header .navbar {
  position: absolute;
  top: 40px;
  width: 90%;
  margin: 0 5%;
}

nav{
  display: flex;
	justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav span{
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

nav li{
	display: inline-block;
	list-style: none;
	margin-right: 25px;
}

nav li a{
	color: #ffffff;
  text-decoration:none ;
}

nav .icon {
  display: none;
}

.header .message {
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffffff;
  width: 400px;
  border: 2px solid #ffffff;
  position: absolute;
  top:40%;
  margin: 0 5%;
  padding: 20px;
}
/* End Header and navbar */

/* Start Section one  */
.sec-one {
  margin: 70px 5% 100px 5%;
  position: relative;
  display: flex;
}

.sec-one .vr-img img {
  width: 50vw;
}

.sec-one .vr-text {
  background-color: #ffffff;
  padding: 50px;
  width: 50vw;
  height: 80%;
  position: absolute;
  top: 35%;
  left: 45%;
}

.sec-one .vr-text h1 {
  width: 90%;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 20px;
  line-height: .9;
}

.sec-one .vr-text p {
  color: #7F7F7F;
  line-height: 1.3;
  font-size: 14px;
}
/* End Section one  */

/* start section images */
.sec-two{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 5%;
}

.sec-two h1{
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.sec-two button{
  background-color: #ffffff;
  color: #000000;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #000000;
  transition: all 0.5s;
}

.sec-two button:active {
	transform: scale(0.8);
}

.sec-img {
  margin: 0px 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.sec-img .img {
  width: 23%;
  margin-bottom: 30px;
  position: relative;
}

.sec-img .img img{
  width: 100%;
  height: 100%;
  filter:brightness(75%);
}

.sec-img .img .mess-img{
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #ffffff;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  width: 70%;
}
/* end section images */

/* start footer */
.footer {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.nav-footer {
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 45%;
}

.nav-footer span {
  margin-bottom: 20px;
  font-size: 22px;
}

.copy-r {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  margin: 0 5% 0 0;
}


.icons i {
  margin: 0 5px 20px 0;
  font-size: 20px;
}

.copy-m {
  font-size: 12px;
  color: #737373;
}

/* end footer */

@media (max-width: 768px) {
  /* Start Header and navbar */
  nav .icon {
    display:initial;  
    color: #ffffff;
    font-size: 20px;
  }

  .navbar nav li{
    display: none;
  }

  .header .message {
    font-size: 40px;
    width: auto;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 45%;
  }
  /* End Header and navbar */

  /* Start Section one  */
  .sec-one {
    margin: 50px 5% 70px 5%;
    display: block;
  }

  .sec-one .vr-img img {
    width: 100%;
  }

  .sec-one .vr-text {
    width: 100%;
    position: initial;
    padding: 20px 15px;
    text-align: center;
    margin-top: 30px;
  }

  .sec-one .vr-text h1 {
    width: 100%;
  }

  .sec-one .vr-text p {
    font-size: 16px;
  }
  /* End Section one  */

  /* start section images */
  .sec-two{
    display: flex;
    justify-content: center;
  }

  .sec-img {
    justify-content:initial;
    margin-bottom: 20px;
  }

  .sec-img .img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .sec-img .img .mess-img{
    font-size: 30px;
    width: 50%;
    bottom: 5%;
    left: 7%;
  }

  .all-img {
    position: relative;
    padding-bottom: 100px;
  }

  .sec-two button{
    transform: translateX(-50%);
    position: absolute;
    bottom: 70px;
    left: 50%;
    padding: 10px 40px;
    font-size: 18px;

  }

  .sec-two button:active {
    transform: translate(-40%,10%);
  }
  /* end section images */
  /* start footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .footer .nav-footer {
    margin: 0;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  .nav-footer span {
    margin-top: 40px;
  }

  .nav-footer ul {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-footer ul li{
    padding: 10px 0;
  }

  .copy-r {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
  }

  .icons i {
    margin: 0 15px 25px 0;
    font-size: 30px;
  }
  
  .copy-m {
    font-size: 18px;
  }
  /* end footer */

}